body {
  background-color:#ABC;
}

#img_div {
  width:150px;
  height:150px;
  background-color:#ABC;
  float:left;
}

#img_div img {
  margin:25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
