<!DOCTYPE html>
%html{lang: "se"}
  %head
    %meta{charset: 'utf-8'}
    %title Picture of pictures
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %script{src: "/js/script.js"}
    %link{href: "/css/style.css", type: "text/css", rel: "stylesheet"}
  %body
    %div{style: "float: right;"}
      %input{id: "coverage", type: "submit", value: "Coverage"}
    .clear
    %center
      %p{id: "p-coverage"} --% coverage
      %br
      %h1 PICTURE OF PICTURES
      %input{id: "url", type: "text"}
      %input{id: "create_image", type: "submit", value: "Create POP"}
      .clear
      %form{id: "frm", action: "/"}
        %input{id: "new_pop", type: "submit", value: "New POP"}
      %br
      %img{id: "source_image"}
      %br
      #pop_image
      %br
      %br
      %br
