%input#coverage.right{type: "submit", value: "Coverage"}
.clear
#content
  =haml :pop_section
  %center
    %form#frm_new{action: "/"}
      %input#new_pop{type: "submit", value: "New POP"}
    =haml :result
    =haml :recent
