<!DOCTYPE html>
%html{lang: "se"}
  %head
    %meta{charset: 'utf-8'}
    %title Picture of pictures
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %script{src: "/js/script.js"}
    %link{href: "/css/style.css", type: "text/css", rel: "stylesheet"}
  %body
    %div= yield
