<!DOCTYPE html>
%html{lang: "se"}
  %head
    %meta{charset: 'utf-8'}
    %title Picture of pictures
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %script{src: "/js/script.js"}
    %link{href: "/css/style.css", type: "text/css", rel: "stylesheet"}
  %body
    %center
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      -@pop.each do |row|
        -row.each do |url|
          %img{src: "#{url}", style: "width:10px; height:10px;"}
        %br
