%center
  #tools
    #announcement
    %br
    %h1 PICTURE OF PICTURES
    %input#url{type: "text"}
    %input#create_image{type: "submit", value: "Create POP"}
    .clear
    %select#sel_size.left
      %option{value: "small"} Small
      %option{value: "medium"} Medium
      %option{value: "large"} Large
