#recent_links
  %center
    -@recent = Recent.all.reverse[0..7].each_slice(4).to_a
    %center
      #tile-box
        -@recent.each do |row|
          -row.each do |r|
            #tile.left
              %a{href: "#{r.result}"}
                %img.tiles{src: "#{r.result}"}
          .clear
        %br
        %a{href: "/all"} Show all
