#recent_links
  %center
    %h3 Recent
    %table.table
      =#%thead
      =#  %th Result
      =#  %th Original
      %tbody
        -Recent.all.reverse[0..2].each do |r|
          %tr{align: "center"}
            %td
              %a{href: "#{r.result}", target: "blank"}
                %img.thumbnail{src: "#{r.result}"}
            %td
              %a{href: "#{r.source}"} Original
