body {
  font-family: Verdana;
}

input#url {
  width:500px;
  padding:6px;
  font-weight:bold;
}

input#create_image {
  height: 31px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  margin: 0px;
}

h1 {
  margin-top: 0px;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

.table {
  width:330px;
  border-collapse: collapse;
}

td {
  width: 50%;
  padding: 4px;
}

img.thumbnail {
  display: block;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#tools {
  width:700px;
}

select#sel_size {
  margin-top: 7px;
  margin-left: 45px;
}

#recent_links {
  width: 100%;
  bottom: 15px;
  position: fixed;
}
