body {
  font-family: Verdana;
}

input#url {
  width:40%;
  padding:6px;
  font-weight:bold;
}

input#create_image {
  height: 31px;
}

img#source_img {
  width:150px;
  height:150px;
}

.clear {
  clear: both;
  margin: 0px;
}

h1 {
  margin-top: 0px;
}
